body {
  background-color: #AA3939;
  font-family: "Verdana", Geneva, sans-serif;
}

.app-wrapper {
  padding: 2%;
  display: grid;
  grid-template-columns: 20% 60% 20%;
  grid-gap: 10px;
}

.form-input {
    margin:2%;
}

.form-group {
  margin: 3%;
}

.header {
  min-height: 100px;
  background-color: #550000;
}

.box {
  background-color: #FFAAAA;
  border: solid black 1px;
  border-radius: 10px;
}

.logo {
  /* animation */
  animation: spin 2s linear infinite;
  -webkit-animation: spin 2s linear infinite;
  -moz-animation: spin 2s linear infinite;
  /* other */
  margin: 2%;
  max-height: 80px;
  border-radius: 15%;
  border: 1px solid #AA3939;
}


@-moz-keyframes spin {
  100% {
     -moz-transform: rotate(360deg); 
     } 
   }
}

@-webkit-keyframes spin { 
  100% {
     -webkit-transform: rotate(360deg); 
     } 
   }
@keyframes spin {
   100% {
      -webkit-transform: rotate(360deg); 
      transform:rotate(360deg); 
      } 
    }

